html {
    font-family: 'Open sans', sans-serif;
    background-color: #ff99e6;
}

body {
    width: 70%;
    margin: 0 auto;
    padding: 10px 20px 20px 20px;
    border: 5px dotted #ff80df;
    background-color: #ffb3ec;
}

h1 {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-size: 40px;
}

p, li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.1px;
}

img {
    border-radius: 8px;
}

pre {
    font-size: xx-small;
    line-height: .7;
}